# Python
__pycache__/
*.py[cod]
*.so
.Python
build/
develop-eggs/
dist/
downloads/
egss/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
.venv/

# IDE
.vscode/
.idea/

# Logs
*.log

# Environment variables
.env

# OS
.DS_Store
Thumbs.db

# Data
data/ProteinNet/casp7/

# Models
# models/

# Code assistant
.windsurf/

